name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  # =============================
  # JOB 1: Build & Push Images
  # =============================
  build:
    name: Build & Push to DockerHub
    runs-on: ubuntu-latest

    env:
      FASTAPI_HOST: ${{ vars.FASTAPI_HOST }}
      STREAMLIT_HOST: ${{ vars.STREAMLIT_HOST }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/prom.dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/e2e_v1-prom:1.1

 # =============================
 # JOB 2: Deploy to EC2
 # =============================
  deploy:
    name: Deploy to EC2
    needs: build
    runs-on: ubuntu-latest

    env:
      FASTAPI_HOST: ${{ vars.FASTAPI_HOST }}
      STREAMLIT_HOST: ${{ vars.STREAMLIT_HOST }}

    steps:
    - name: Setup SSH
      env:
        ACTIONS_STEP_DEBUG: true
        ACTIONS_RUNNER_DEBUG: true
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_PROM_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ vars.EC2_PROM_HOST }} >> ~/.ssh/known_hosts
        chmod 700 ~/.ssh
        ls -ltra ~

    - name: Debug SSH Connection
      run: |
        ssh -i ~/.ssh/id_rsa ${{ vars.EC2_PROM_USER }}@${{ vars.EC2_PROM_HOST }} "echo connected"
    
    - name: Deploy
      run: |
        ssh -i ~/.ssh/id_rsa ${{ vars.EC2_PROM_USER }}@${{ vars.EC2_PROM_HOST }} "whoami"


    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        debug: true
        host: ${{ vars.EC2_PROM_HOST }}
        username: ${{ vars.EC2_PROM_USER }}
        key: ${{ secrets.EC2_PROM_SSH_KEY }}
        script_stop: true
        script: |
          echo '[
            {
              "targets": ["${FASTAPI_HOST}:8000"],
              "labels": { "service": "fastapi" }
            }
          ]' | tee /etc/prometheus/targets/fastapi.json
    
          echo '[
            {
              "targets": ["${STREAMLIT_HOST}:8501"],
              "labels": { "service": "streamlit" }
            }
          ]' | tee /etc/prometheus/targets/streamlit.json
      
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        debug: true
        host: ${{ vars.EC2_PROM_HOST }}
        username: ${{ vars.EC2_PROM_USER }}
        key: ${{ secrets.EC2_PROM_SSH_KEY }}
        script_stop: true
        script: |
          whoami
          pwd
          ls -la
          docker pull ${{ secrets.DOCKER_USERNAME }}/e2e_v1-prom:1.1
          docker stop e2e_v1-prom || true
          docker rm e2e_v1-prom || true
          docker run -d --name e2e_v1-prom -p 9090:9090 ${{ secrets.DOCKER_USERNAME }}/e2e_v1-prom:1.1

