name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  # =============================
  # JOB 1: Build & Push Images
  # =============================
  build:
    name: Build & Push to DockerHub
    runs-on: ubuntu-latest

    env:
      FASTAPI_HOST: ${{ vars.FASTAPI_HOST }}
      STREAMLIT_HOST: ${{ vars.STREAMLIT_HOST }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/prom.dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/e2e_v1-prom:1.1

  # =============================
  # JOB 2: Deploy to EC2
  # =============================
  deploy:
    needs: build
    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: true
      ACTIONS_RUNNER_DEBUG: true
  
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          debug: true
          host:     ${{ secrets.EC2_PROM_HOST }}
          username: ${{ secrets.EC2_PROM_USER }}
          password: ${{ secrets.EC2_PROM_PASSWORD }}
          script_stop: true
          script: |
            whoami
            pwd
            ls -la
#            docker pull ${{ secrets.DOCKER_USERNAME }}/e2e_v1-prom:1.1
#            docker stop e2e_v1-prom || true
#            docker rm e2e_v1-prom || true
#            docker run -d --name e2e_v1-prom -p 9090:9090 ${{ secrets.DOCKER_USERNAME }}/e2e_v1-prom:1.1
